In [ ]:
import pandas as pd
import cpi

In [ ]:
def_600 = pd.read_csv("top_600.csv")

In [ ]:
df_600 = pd.DataFrame(def_600)

In [ ]:
df_600

In [ ]:
base_year = 2012

In [ ]:
df_600["inflation_adjusted_gross"] = 0
df_600

In [144]:
df_600['inflation_adjusted_gross'][0:(0+2)]

0    0
1    0
Name: inflation_adjusted_gross, dtype: int64

In [149]:
for num, info in enumerate(zip(df_600["Year"], df_600["Lifetime Gross"])):
    year, gross = info
    for i in num, year, gross:
        if year < 2012:
            # print(year, type(num))
            df_600['inflation_adjusted_gross'][num:(num+1)] = cpi.inflate(gross, year, to=2012)
        else:
            df_600['inflation_adjusted_gross'][num:(num+1)] = gross
            

df_600

,Rank,Title,Lifetime Gross,Year,inflation_adjusted_gross
0,1,Avatar,2923706026,2009,3.128903e+09
1,2,Avengers: Endgame,2799439100,2019,2.799439e+09
2,3,Avatar: The Way of Water,2318325624,2022,2.318326e+09
3,4,Titanic,2264162353,1997,3.238867e+09
4,5,Star Wars: Episode VII - The Force Awakens,2071310218,2015,2.071310e+09
...,...,...,...,...,...
595,596,The Firm,270248367,1993,4.293938e+08
596,597,We're the Millers,269994119,2012,2.699941e+08
597,598,Gran Torino,269958228,2008,2.878770e+08
598,599,"10,000 BC",269784201,2008,2.876915e+08
599,600,American Gangster,269755430,2007,2.987057e+08

In [150]:
df_600.to_csv("adjusted_gross.csv")

In [ ]:
# for num, info in enumerate(zip(df_600["Year"], df_600["Lifetime Gross"])):
#     year, gross = info
#     # print(num, year, gross)
#     if year < 2012:
#         df_600["Inflation_Adjusted_Gross"][num] = cpi.inflate(gross, year, to=2012)
#         # xx = cpi.inflate(gross, year, to=2012)
#         # df_600["inflation_adjusted_gross"][num] == xx
#     else:
#         df_600["Inflation_Adjusted_Gross"][num] = df_600["Lifetime Gross"][num]
# df_600
#         # print(year, gross)

In [ ]:
df_600