In [2]:
import pandas as pd
import sqlite3
from create_database_instance import db, update_movie, insert_director, look_for_duplicates, replace_none_image_column, return_duplicates, delete_duplicates
import requests

In [3]:
get_movies = """
SELECT * FROM Movies
"""

In [4]:
url_path = ("https://imdb-api.com/en/API/Title/k_br0y2jj3/")

In [19]:
df1 = db.call_db(get_movies)
df2 = pd.DataFrame(df1)
df3 = df2[542:543]
df3

,0,1,2,3,4,5,6,7
542,543,543,The Divergent Series: Insurgent,297002527,2015,tt4516496,0,0

Two directors! How to handle multiple results?
Check if len > 1, if so, make a loop and extraxt each argument
How?
Then append the column with that value, utsing "," as deliminer.
Eg. "Joel Crawford, Januel Mercado"
How? How can we append a column value in sqlite3. 
Check this!

In [6]:
def check_image_int(image):
    try:
        image_col = int(image)
        return image_col
    except: 
        pass


def check_dir_int(director):
    try:
        dir_col = int(director)
        return dir_col
    except:
        pass

def check_for_none(number_check):
    for arg in number_check:
        try:
            arg
            print("test_number_check succeded!")
            return arg
        except:
            print("test_number_check failed")
            pass

In [17]:
max_requests_per_day = 4
counter = 0
num_of_dir_added = 0
num_of_movies_added = 0


for num, movie_id in enumerate(df3[5]):
    image_col_value = df3.iloc[num, 6]
    dir_col_value = df3.iloc[num, 7]
    image = check_image_int(image_col_value)
    dir = check_dir_int(dir_col_value)
    # Check if the value in any column is 0
    if image == 0 or dir == 0:
        # resp = requests.get(f"{url_path}{movie_id}")
        counter += 1
        print(counter)
        if counter == max_requests_per_day:
            break
            # resp_json = resp.json()
            # try:
            #     image = resp_json['image']
            # except:
            #     image = 0
            # if resp_json['directorList'] is None:
            #     print("End of the line")
            #     break
            # else:
            #     # Add directors names to list
            #     # If no name available, add 0
            #     directors_name_list = []
            #     directors_id_list = []
            #     for i in range(len(resp_json['directorList'])):
            #         try:
            #             directors_name_list.append(resp_json['directorList'][i]['name'])
            #         except:
            #             directors_name_list.append(0)
            #         try:
            #             directors_id_list.append(resp_json['directorList'][i]['id'])
            #         except:
            #             directors_id_list.append(0)
            #             # Add each item in the lists to directoras table

            #     for num, i in enumerate(directors_name_list):
            #         check_dir_duplicates = db.call_db(look_for_duplicates, i)
            #         if len(check_dir_duplicates) > 0:
            #             # print("duplicates found. Insertion aborted")
            #             pass
            #         else:
            #             db.call_db(insert_director, directors_id_list[num], directors_name_list[num])
            #             num_of_dir_added += 1
            #             # print("Values inserted")

            #     if len(directors_name_list) > 1:
            #         director_movie_table = ", ".join(directors_name_list)
            #         db.call_db(update_movie, image, director_movie_table, movie_id)
            #         num_of_movies_added += 1
            #         # print("More directors")
            #     elif len(directors_name_list) == 1:
            #         db.call_db(update_movie, image, directors_name_list[0], movie_id)
            #         num_of_movies_added += 1


print(f"Movies added: {num_of_movies_added}")
print(f"Directors added: {num_of_dir_added}")

1
2
3
4
Movies added: 0
Directors added: 0

In [20]:

for num, movie_id in enumerate(df3[5]):
    image_col_value = df3.iloc[num, 6]
    dir_col_value = df3.iloc[num, 7]
    image = check_image_int(image_col_value)
    dir = check_dir_int(dir_col_value)
    if image == 0 or dir == 0:
        resp = requests.get(f"{url_path}{movie_id}")
        resp_json = resp.json()

In [21]:
resp_json

{'id': 'tt4516496',
 'title': None,
 'originalTitle': None,
 'fullTitle': None,
 'type': None,
 'year': None,
 'image': None,
 'releaseDate': None,
 'runtimeMins': None,
 'runtimeStr': None,
 'plot': None,
 'plotLocal': None,
 'plotLocalIsRtl': False,
 'awards': None,
 'directors': None,
 'directorList': None,
 'writers': None,
 'writerList': None,
 'stars': None,
 'starList': None,
 'actorList': None,
 'fullCast': None,
 'genres': None,
 'genreList': None,
 'companies': None,
 'companyList': None,
 'countries': None,
 'countryList': None,
 'languages': None,
 'languageList': None,
 'contentRating': None,
 'imDbRating': None,
 'imDbRatingVotes': None,
 'metacriticRating': None,
 'ratings': None,
 'wikipedia': None,
 'posters': None,
 'images': None,
 'trailer': None,
 'boxOffice': None,
 'tagline': None,
 'keywords': None,
 'keywordList': None,
 'similars': None,
 'tvSeriesInfo': None,
 'tvEpisodeInfo': None,
 'errorMessage': 'VideoGame is not valid'}